<%- include('common/header') %>

    <div class="container text-center my-5">
        <div class="user my-3">
            <i class="fas fa-user-secret user-icon"></i>
            <h4 class="login mt-2">Login</h4>
        </div>
        <div class="card p-5 w-50 m-auto">
            <% if (error) { %>
             <div class="alert alert-danger">
                <%= error %>
             </div>
            <% } %>
            <form method="POST" action="/handleLogin">
                <input class="form-control" type="text" name="email" placeholder="Enter your email">
                <div class="password-container">
                    <input class="form-control my-2" type="password" name="password" placeholder="Enter your password">
                    <i class="fas fa-eye text-muted"></i>
                </div>
                <button class="btn btn-default-outline my-4 w-100 rounded">Login</button>
                <p>Forget password? <a class="forgetPassword" href="/forgetPassword">click here</a></p>
                <a class="btn btn-default-outline" href="/register">Register</a>
            </form>
        </div>
    </div>

<%- include('common/footer') %>